[submodule "CImg"]
	path = CImg
	url = https://github.com/dtschump/CImg.git
[submodule "FastLED"]
	path = FastLED
	url = git@github.com:leodearden/FastLED.git
[submodule "pattern/Catch"]
	path = pattern/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "fabricate"]
	path = fabricate
	url = https://github.com/SimonAlfie/fabricate.git
